body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("images/casino-table.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  margin: 0 auto;
  margin-top: 6.25rem;
  background-color: rgba(11, 60, 19, 0.435);
  border-radius: 1.25rem;
}

h1 {
  color: #f5bb28;
  box-shadow: dimgray;
}

#message-el {
  font-weight: 500;
  font-size: 1.25rem;
}

button {
  color: white;
  background: #f5bb28;
  width: 9.375rem;
  height: 40px;
  border: none;
  border-radius: 0.3125rem;
  margin: 0.625rem;
}

button:hover {
  transform: scale(1.02);
  color: black;
  cursor: pointer;
}

button::after {
  color: black;
  cursor: pointer;
}
